extends layout

block content
    //- Jumbotron
    div.jumbotron.jumbotron-mob
        div.container
            h1 Administração
            p Administre os sites de clientes.
    
    script(src='/ckeditor/ckeditor.js')
    
    div.container
        div.col-sm-10.col-sm-offset-1
            div.row
                div.col-sm-1
                    img(src=customer.facebook.picture, alt=customer.facebook.name)
                div.col-sm-8
                    h4
                        strong #{customer.facebook.name}
                div.col-sm-3.space-vertical.space-right
                    div.row
                        span.pull-right
                            a.btn.btn-primary(href='http://' + customer.id + '.mobyourlife.com.br/' + formdata.path, target='_blank')
                                i.fa.fa-external-link.jump-5
                                | Visualizar
            hr
            div.row
                ul.nav.nav-tabs
                    li
                        a(href='/admin/' + customer.id) Visão Geral
                    li.active
                        a(href='/admin/' + customer.id + '/textos') Textos
                    li
                        a(href='/admin/' + customer.id + '/avancado') Avançado
            div.row
                h3 Editar  página
                p Modifique uma página de texto existente.
                if formdata && formdata.errors
                    div.alert.alert-danger
                        p
                            strong
                                | Por favor verifique os seguintes campos:
                        ul
                        each e in formdata.errors
                            li #{e.msg}
                form(method='post', action='/admin/' + customer.id + '/textos/editar/' + formdata.id)
                    input(type='hidden', name='_csrf', value=csrfToken)
                    input(type='hidden', name='fbid', value=customer.id)
                    input(type='hidden', name='id', value=formdata.id)
                    p
                        label Caminho da página:
                        input.form-control(name='path', value=formdata ? formdata.path : '')
                    p
                        label Título da página:
                        input.form-control(name='title', value=formdata ? formdata.title : '')
                    p
                        label Conteúdo:
                        textarea.ckeditor(name='body')
                            if formdata
                                | #{formdata.body}
                    p
                        span.pull-right
                            button.btn.btn-primary.jump-5(type='submit') Salvar
                            a.btn.btn-default(href='/admin/' + customer.id + '/textos') Cancelar