extends layout

block content
    //- Jumbotron
    if fanpage && fanpage.cover && fanpage.cover.path
        div.jumbotron(style='background-image: url("/uploads/' + fanpage.cover.path + '"); height: ' + fanpage.cover.height + 'px;')
    else
        div.jumbotron(class=!fanpage ? 'jumbotron-mob' : null)
            div.container
                h1 Contato
                p Fale direto com a nossa equipe em caso de dúvidas, críticas ou sugestões!
                if !fanpage
                    p
                        a.btn.btn-xl.btn-jumbo(href='/login', data-role='button')
                            span Crie seu novo site agora
                            span.jump-5
                            span.fa.fa-arrow-right

    div.container
        if errors
            div.alert.alert-danger
                p
                    strong
                        | Por favor verifique os seguintes campos:
                ul
                each e in errors
                    li #{e.msg}

        div.row
            div.col-md-8
                div.well.well-sm
                    form#mail-form.form-horizontal(action='/contato', method='post')
                        input(type='hidden', name='_csrf', value=csrfToken)
                        fieldset
                            legend.text-center Fale Conosco
                        
                        div.form-group
                            label.col-md-3.control-label(for='name') Nome
                            div.col-md-9
                                input#name.form-control(name='name', type='text', placeholder='Seu nome', value=fields ? fields.name : null)
                        
                        div.form-group
                            label.col-md-3.control-label(for='email') E-mail
                            div.col-md-9
                                input#email.form-control(name='email', type='text', placeholder='Seu endereço de e-mail', value=fields ? fields.email : null)
                        
                        div.form-group
                            label.col-md-3.control-label(for='mensagem') Mensagem
                            div.col-md-9
                                textarea#message.form-control(name='message', placeholder='Digite a sua mensagem aqui', rows=5)
                        
                        div.form-group
                            div.col-md-12.text-right
                                button.btn.btn-info.btn-lg(type='submit') Enviar
            
            if !fanpage
                div.col-md-4
                    form
                        legend
                            span
                                i.glyphicon.glyphicon-globe.jump-5
                                | Nossa localização
                        address
                            strong F&gt;MOB STUDIO
                            br
                            | Rua Luiz Dalincourt 325, Bosque
                            br
                            | Campinas, SP
                        address
                            strong Suporte Técnico: 
                            a(href='mailto:suporte@mobyourlife.com.br') suporte@mobyourlife.com.br
            else
                div.col-md-4
                    form
                        legend
                            span
                                i.glyphicon.glyphicon-globe.jump-5
                                | Dados de contato
                        address
                            strong #{fanpage.facebook.name}
                            br
                            if fanpage.facebook.place.location.street
                                | #{fanpage.facebook.place.location.street}
                                br
                            if fanpage.facebook.place.location.city
                                | #{fanpage.facebook.place.location.city}
                                br
                            if fanpage.facebook.info.band
                                if fanpage.facebook.info.band.hometown
                                    strong Cidade de origem:
                                    |  #{fanpage.facebook.info.band.hometown}
                                    br
                                if fanpage.facebook.info.band.booking_agent
                                    strong Empresário:
                                    |  #{fanpage.facebook.info.band.booking_agent}
                                    br
                            if fanpage.facebook.place.phone
                                abbr(title='Telefone comercial') F:
                                |  #{fanpage.facebook.place.phone}
                        address
                            each e in fanpage.facebook.emails
                                a(href='mailto:' + e) #{e}