if fanpage
    -var menu = { 'inicio': 'Início', 'sobre': 'Sobre', 'fotos': 'Fotos', 'contato': 'Contato' }
else
    -var menu = { 'inicio': 'Início', 'como-funciona': 'Como Funciona', 'precos': 'Preços', 'duvidas-frequentes': 'Dúvidas Frequentes', 'contato': 'Contato' }

div.navbar.navbar-mob.navbar-fixed-top(role='navigation')
    div.container
        div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                if fanpage
                    span
                        if fanpage.facebook.cdn
                            img.icon(src=fanpage.facebook.cdn, alt=fanpage.facebook.name)
                        else
                            img.icon(src=fanpage.facebook.picture, alt=fanpage.facebook.name)
                    span
                        | #{fanpage.facebook.name}
                else
                    img(src='/img/logo.png', alt='Mob Your Life')
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                each value, key in menu
                    li(class=key === link ? 'active' : undefined)
                        a(href='/' + key) #{value}
            
            if !fanpage
                div.navbar-form.navbar-right
                    if auth === true
                        div.btn-group
                            button.btn.btn-jumbo.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                span.fa.fa-user.jump-5
                                span.jump-5 #{user.facebook.name}
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/gerenciamento')
                                        span.fa.fa-user.jump-5
                                        | Gerenciamento
                                li.divider
                                li
                                    a(href='/sair')
                                        span.fa.fa-sign-out.jump-5
                                        | Sair
                    else
                        a.btn.btn-jumbo(href='/login')
                            span.fa.fa-facebook.jump-5
                            | Entrar com Facebook
            else
                div.navbar-form.navbar-right
                    div.loggedin
                        div.btn-group(style='margin-right:4px')
                            button.btn.btn-jumbo(style='width:48px')
                                span.fa.fa-bell
                                span.label.label-danger(style='border-radius:1em;position:absolute;top:12px;right:2px')
                                    | 8
                        div.btn-group
                            button.btn.btn-jumbo.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                span.fa.fa-user.jump-5
                                span.jump-5.field-name
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a(href='/validar-conteudo')
                                        span.fa.fa-download.jump-5
                                        | Moderação
                                li
                                    a(href='/opcoes', onclick='return gotoOpcoes();')
                                        span.fa.fa-cog.jump-5
                                        span.modal-title
                                            | Opções
                                li.divider
                                li
                                    a(href='http://www.mobyourlife.com.br/gerenciamento')
                                        span.fa.fa-user.jump-5
                                        | Gerenciamento
                                li
                                    a(href='http://www.mobyourlife.com.br/sair')
                                        span.fa.fa-sign-out.jump-5
                                        | Sair
                    div.loggedout
                        a.btn.btn-jumbo(href='http://www.mobyourlife.com.br/login')
                            span.fa.fa-facebook.jump-5
                            | Entrar com Facebook