- var themeNavBar = (fanpage && fanpage.theme && fanpage.theme.navbar ? fanpage.theme.navbar : 'navbar-mob')
div.navbar.navbar-fixed-top(role='navigation', class=themeNavBar)
    div.container
        div.navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/')
                if fanpage
                    span
                        if fanpage.facebook.cdn
                            img.icon(src=fanpage.facebook.cdn, alt=fanpage.facebook.name)
                        else
                            img.icon(src=fanpage.facebook.picture, alt=fanpage.facebook.name)
                    span
                        | #{fanpage.facebook.name}
                else
                    img(src='/img/logo.png', alt='Mob Your Life')
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                if menu
                    each m in menu
                        li(class=m.path === link ? 'active' : undefined)
                            a(href='/' + m.path) #{m.text}
            
            if !fanpage
                div.navbar-form.navbar-right
                    if auth === true
                        div.btn-group
                            button.btn.btn-jumbo.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                span.hidden-lg
                                    span.fa.fa-user.jump-5
                                    span.caret
                                span.visible-lg
                                    span.fa.fa-user.jump-5
                                    span.jump-5 #{user.facebook.name}
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                if isAdmin
                                    li
                                        a(href='/admin')
                                            span.fa.fa-cog.jump-5
                                            | Administração
                                li
                                    a(href='/gerenciamento')
                                        span.fa.fa-user.jump-5
                                        | Gerenciamento
                                li.divider
                                li
                                    a(href='/sair')
                                        span.fa.fa-sign-out.jump-5
                                        | Sair
                    else
                        a.btn.btn-jumbo(href='/login')
                            span.hidden-lg.hidden-xs
                                span.fa.fa-facebook
                            span.visible-lg.visible-xs
                                span.fa.fa-facebook.jump-5
                                span Entrar com Facebook
            else
                div.navbar-form.navbar-right
                    div.loggedin
                        //
                            div.btn-group(style='margin-right:4px')
                                button.btn.btn-jumbo(style='width:48px')
                                    span.fa.fa-bell
                                    span.label.label-danger(style='border-radius:1em;position:absolute;top:12px;right:2px')
                                        | 8
                        div.btn-group
                            button.btn.btn-jumbo.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                span.hidden-lg
                                    span.fa.fa-user.jump-5
                                    span.caret
                                span.visible-lg
                                    span.fa.fa-user.jump-5
                                    span.jump-5.field-name
                                    span.caret
                            ul.dropdown-menu(role='menu')
                                //
                                    li
                                        a(href='/validar-conteudo')
                                            span.fa.fa-download.jump-5
                                            | Moderação
                                li.isowner.dropdown-submenu
                                    a(href='/aparencia')
                                        span.fa.fa-paint-brush.jump-5
                                        span.modal-title
                                            | Aparência
                                li.isowner.dropdown-submenu
                                    a(href='/foto-de-capa', onclick='return gotoFotoCapa();')
                                        span.fa.fa-picture-o.jump-5
                                        span.modal-title
                                            | Foto de capa
                                if fanpage.cover && fanpage.cover.path
                                    li.isowner.dropdown-submenu
                                        a(href='/remover-foto-de-capa', onclick='return removerFotoCapa();')
                                            span.fa.fa-remove.jump-5
                                            span.modal-title
                                                | Remover foto de capa
                                li.isowner.dropdown-submenu
                                    a(href='/paginas-estaticas')
                                        span.fa.fa-file-word-o.jump-5
                                        span.modal-title
                                            | Páginas estáticas
                                li.isowner
                                    a(href='/opcoes', onclick='return gotoOpcoes();')
                                        span.fa.fa-cog.jump-5
                                        span.modal-title
                                            | Opções
                                li.isowner.divider
                                li.isowner
                                    a(href='http://www.mobyourlife.com.br/gerenciamento')
                                        span.fa.fa-user.jump-5
                                        | Gerenciamento
                                li
                                    a(href='http://www.mobyourlife.com.br/sair')
                                        span.fa.fa-sign-out.jump-5
                                        | Sair
                    div.loggedout
                        a.btn.btn-jumbo(href='http://www.mobyourlife.com.br/login')
                            span.hidden-lg.hidden-xs
                                span.fa.fa-facebook
                            span.visible-lg.visible-xs
                                span.fa.fa-facebook.jump-5
                                span Entrar com Facebook