extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 Site criado com sucesso!
            p Parabéns por seu novo site sincronizado com o Facebook!
    
    div.container
        div.col-sm-10.col-sm-offset-1
            div.well
                div.row
                    div.col-sm-1
                        img(src=fanpage.facebook.picture, alt=fanpage.facebook.name)
                    div.col-sm-8
                        h4
                            strong #{fanpage.facebook.name}
                        p #{fanpage.facebook.about}
                    div.col-sm-3.space-vertical.space-right
                        div.row
                            a.btn.btn-info.pull-right(href='http://' + fanpage.id + '.mobyourlife.com.br')
                                span.fa.fa-external-link.jump-5
                                | Acessar site
                        div.row
                            a.btn.btn-default.pull-right(href=fanpage.facebook.link,target='_blank')
                                span.fa.fa-facebook.jump-5
                                | Acessar fanpage