extends none

block content
    div.form-horizontal
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Nome do site
            div.col-sm-9
                | #{fanpage.facebook.name}
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Estado do site
            div.col-sm-9
                div.input-group(style='margin-bottom:8px')
                    span.form-control
                        if fanpage.billing.evaluation === true
                            | Avaliação
                        else if fanpage.billing.active === true
                            | Ativo
                        else
                            | Inativo
                    span.input-group-addon.label-success(style='cursor:pointer')
                        i.fa.fa-check(style='color:#fff;width:20px')
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Expiração
            div.col-sm-9
                div.input-group(style='margin-bottom:8px')
                    span.form-control
                        | #{moment(fanpage.billing.expiration).fromNow()}
                    span.input-group-addon.label-warning(style='cursor:pointer')
                        i.fa.fa-dollar(style='color:#fff;width:20px')
                        
        div.form-group
            div.col-sm-3
                label(for='dominio', control-label)
                    | Domínios
            div.col-sm-9
                -var cmp = fanpage.id + '.mobyourlife.com.br'
                each d in domains
                    div.input-group(style='margin-bottom:8px')
                        if d.id === cmp
                            input.form-control(id='dominio[]', name='dominio[]', type='text', readonly='readonly', value=d.id)
                            span.input-group-addon.label-success(style='cursor:not-allowed')
                                i.fa.fa-lock(style='color:#fff;width:20px')
                        else
                            case d.status
                                when 'expired'
                                    input.form-control(id='dominio[]', name='dominio[]', type='text', readonly='readonly', value=d.id)
                                    span.input-group-addon.label-danger(style='cursor:pointer', onclick='gotoDominio("#{d.id}");')
                                        i.fa.fa-dollar(style='color:#fff;width:20px')
                                            
                                when 'expiring'
                                    input.form-control(id='dominio[]', name='dominio[]', type='text', readonly='readonly', value=d.id)
                                    span.input-group-addon.label-warning(style='cursor:pointer', onclick='gotoDominio("#{d.id}");')
                                        i.fa.fa-dollar(style='color:#fff;width:20px')
                                            
                                when 'dns_failure'
                                    input.form-control(id='dominio[]', name='dominio[]', type='text', readonly='readonly', value=d.id)
                                    span.input-group-addon.label-warning(style='cursor:pointer', onclick='gotoDominio("#{d.id}");')
                                        i.fa.fa-warning(style='color:#fff;width:20px')
                                
                                default
                                    input.form-control(id='dominio[]', name='dominio[]', type='text', readonly='readonly', value=d.id)
                                    span.input-group-addon.label-success(style='cursor:pointer', onclick='gotoDominio("#{d.id}");')
                                        i.fa.fa-globe(style='color:#fff;width:20px')
                        
                div.input-group(style='margin-bottom:8px')
                    input.form-control(id='novodominio', name='novodominio', type='text')
                    span.input-group-addon.label-info(style='cursor:pointer')
                        i.fa.fa-plus(onclick='incluirDominio($("#novodominio"), "#{fanpage.id}", "/opcoes");', style='color:#fff;width:20px')