extends layout

block content
    - var title = 'Sobre';
    include user-jumbotron
    
    div.container.space-rows
        if hotInfo && hotInfo.length != 0
            div.row
                each item in hotInfo
                    div.text-center(class=hotInfoClass)
                        i.fa.fa-4x.text-primary(class=item.icon)
                        p
                            span
                                | #{item.label}:
                            br
                            span.text-primary
                                strong #{item.value}
        
        ol.breadcrumb
            li.text-primary
                strong #{fanpage.facebook.name}
            li.text-info #{fanpage.facebook.category}
            each c in fanpage.facebook.category_list
                li #{c.name}
        
        div(style='text-align:justify;')
            p #{fanpage.facebook.about}
            p #{fanpage.facebook.description}
            
            if fanpage.facebook.info
                if fanpage.facebook.info.company
                    if fanpage.facebook.info.company.mission
                        h2 Missão
                        p #{fanpage.facebook.info.company.mission}
                    
                    if fanpage.facebook.info.company.company_overview
                        h2 Visão
                        p #{fanpage.facebook.info.company.company_overview}