extends layout

block content
    //- Jumbotron
    div.jumbotron
        div.container
            h1 Sobre
    
    div.container
        div.row
            div.col-sm-3
                p.pull-right
                    strong Descrição:
            div.col-sm-9
                | #{fanpage.facebook.description}
                
        div.row
            div.col-sm-3
                p.pull-right
                    strong Categoria:
            div.col-sm-9
                | #{fanpage.facebook.category}
                if fanpage.facebook.category_list
                ul
                    each cat in fanpage.facebook.category_list
                        li #{cat.name}
        div.row
            div.col-sm-3
                p.pull-right
                    strong Curtidas:
            div.col-sm-9
                | #{fanpage.facebook.likes}
    
        hr
    
        ul
            li Sobre: #{fanpage.facebook.about}
            li Descrição: #{fanpage.facebook.description}
            li Categoria: #{fanpage.facebook.category}
            li Subcategorias:
            ul
                each cat in fanpage.facebook.category_list
                    li #{cat.name}
            li Curtidas: #{fanpage.facebook.likes}
            li Telefone: #{fanpage.facebook.phone}
            li Localização:
            ul
                li Cidade: #{fanpage.facebook.location.city}
                li País: #{fanpage.facebook.location.country}
                li Endereço: #{fanpage.facebook.location.street}
                li CEP: #{fanpage.facebook.location.zip}
                li Coordenadas: #{fanpage.facebook.location.coordinates}
            li Estacionamento:
            ul
                li Vagas próprias: #{fanpage.facebook.parking.lot}
                li Vagas na rua: #{fanpage.facebook.parking.street}
                li Vagas com manobrista: #{fanpage.facebook.parking.valet}